<!doctype html>
<html>
  <head>
    {% block head %}
    <title>
      {% block title %}{% endblock %} Pokemon TCG Collection Builder
    </title>
    {% endblock %}
  </head>
  <body>
    <div id="header">
      {% block header %}Pokemon TCG Collection Builder {% endblock %}
    </div>
    <div id="content">
      <h2>Search</h2>
      <p>Search for cards to add to your collection.</p>
      <form action="{{ url_for('search')}}" method="POST">
        <label for="search">Select a card stage:</label
        ><select name="stage" id="stage">
          <option value="Basic">Basic</option>
          <option value="Stage 1">Stage 1</option>
          <option value="Stage 2">Stage 2</option>
        </select>
        <label for="energy_type">Select a card type:</label>
        <select name="energy_type" id="energy_type">
          <option value="Colorless">Colorless</option>
          <optioon value="Darkness">Darkness</optioon>
          <option value="Dragon">Dragon</option>
          <option value="Fighting">Fighting</option>
          <option value="Fire">Fire</option>
          <option value="Grass">Grass</option>
          <option value="Lightning">Lightning</option>
          <option value="Metal">Metal</option>
          <option value="Psychic">Psychic</option>
          <option value="Water">Water</option>
        </select>
        <input type="submit">
      </form>
      {% block content %}{% endblock %}
    </div>
    <div id="footer">
      {% block footer %}Created by Thane Wilson for Techtonica 2025. {% endblock
      %}
    </div>
  </body>
</html>
